{{>header}}
<h1><span class="strava">Strava</span> Bicycle Dashboard</h1>

<div class="main-content"></div>
<div class="profile-img">
    <img src="/img/Strava_Cyclist_Profile___Dave_Enriquez.png" alt="">
</div>
<script src="js/script.js"></script>
</body>

</html>